[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pytz = "==2020.1"
python-slugify = "==4.0.1"
rcssmin = "==1.0.6"
argon2-cffi = "==20.1.0"
whitenoise = "==5.2.0"
redis = "==3.5.3"
hiredis = "==1.1.0"
django-environ = "==0.4.5"
django-model-utils = "==4.0.0"
django-allauth = "==0.42.0"
django-crispy-forms = "==1.9.2"
django-compressor = "==2.4"
django-redis = "==4.12.1"
djangorestframework = "==3.11.1"
django-cors-headers = "==3.5.0"
Django = "==3.0.10"
Pillow = "==7.2.0"
ipdb = "==0.13.3"
psycopg2-binary = "==2.8.6"
mypy = "==0.770"
django-stubs = "==1.5.0"
pytest = "==6.0.2"
pytest-sugar = "==0.9.4"
sphinx-autobuild = "==2020.9.1"
flake8 = "==3.8.3"
flake8-isort = "==4.0.0"
coverage = "==5.3"
black = "==20.8b1"
pylint-django = "==2.3.0"
pre-commit = "==2.7.1"
factory-boy = "==3.0.1"
django-debug-toolbar = "==2.2"
django-extensions = "==3.0.9"
django-coverage-plugin = "==1.8.0"
pytest-django = "==3.10.0"
Werkzeug = "==1.0.1"
Sphinx = "==3.2.1"

[requires]
python_version = "3.7"
