<div class="navbar navbar_">
  <div class="navbar-inner navbar-inner_">
    <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </a>
    <div class="nav-collapse nav-collapse_ collapse">
      <ul class="nav sf-menu clearfix">
        <li><a href="{% url "home" %}">home page</a></li>
          {% for type in types %}
            <li class="active sub-menu sub-menu-1"><a href="{{ type.get_list_url }}">{{ type.full_name }}</a>
              <ul>
                  {% for category in type.categories.all %}
                    <li><a href="#">{{ category.full_name }}</a></li>
                  {% endfor %}
              </ul>
            </li>
          {% endfor %}
        <li><a href="{% url "notebook:category-add" %}">Add Category</a></li>
        <li><a href="{% url "notebook:type-add" %}">Add Type</a></li>
      </ul>
    </div>
  </div>
</div>
