{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}User: {{ object.username }} create note{% endblock title %}

{% block breadcrumbs %}

  <div class="breadcrumbs1">
    <div class="breadcrumbs1_inner"><a href="index.html">Home Page</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Flower List
    </div>
  </div>
{% endblock %}

{% block content %}
  <a href="{% url 'notebook:note-add' selected_type %}">
    <button class="btn btn-danger">Dodaj</button>
  </a>
  <div class="line1"></div>
  <div class="container">
      {% for note in object_list %}
        <div class="card span4" style="width: 18rem;padding: 4px">
         {% if note.main_photo_url %} <img class="card-img-top" src="{{ note.main_photo_url }}" alt="Card image cap">{% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ note.full_name }}</h5>
            <p class="card-text">{{ note.description }}</p>
          </div>
          <a href="{{ note.get_absolute_url }}">
            <button class="btn btn-success">Edytuj</button>
          </a>
        </div>
      {% endfor %}
  </div>
{% endblock content %}
