{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block title %}User: {{ object.username }} create note{% endblock title %}

{% block breadcrumbs %}
  <div class="breadcrumbs1">
    <div class="breadcrumbs1_inner"><a href="index.html">Home Page</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;Add Note
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="container">
    <h2>Note</h2>
      {% crispy form %}
    <div class="line2"></div>
    <h2>Photos</h2>
      {{ photo_formset.as_table }}
  </div>
{% endblock content %}

