<!DOCTYPE html>
<html lang="en">
<head>
  <title>about</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Your description">
  <meta name="keywords" content="Your keywords">
  <meta name="author" content="Your name">
  <link rel="icon" href="/static/notes/images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="/static/notes/images/favicon.ico" type="image/x-icon"/>

  <link rel="stylesheet" href="/static/notes/css/bootstrap.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/static/notes/css/bootstrap-responsive.css" type="text/css" media="screen">
  <link rel="stylesheet" href="/static/notes/css/style.css" type="text/css" media="screen">

  <script type="text/javascript" src="/static/notes/js/jquery.js"></script>
  <script type="text/javascript" src="/static/notes/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="/static/notes/js/jquery.formset.js"></script>
  <script type="text/javascript" src="/static/notes/js/superfish.js"></script>

  <script type="text/javascript" src="/static/notes/js/jquery.ui.totop.js"></script>
  <script>
      $(document).ready(function () {
          //

      }); //
      $(window).load(function () {
          //

      }); //
  </script>
  <!--[if lt IE 8]>
		<div style='text-align:center'><a href="https://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
	<![endif]-->

  <!--[if lt IE 9]>
  <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
<![endif]-->
</head>

<body class="subpage">
<div id="main">
  <div class="top1">
    <div class="container">
      <div class="row">
        <div class="span12">
          <div class="top1_inner">

            <header>
              <div class="logo_wrapper"><a href="index.html" class="logo"><img src="/static/notes/images/logo.png"
                                                                               alt=""></a></div>
            </header>

            <div class="search-form-wrapper clearfix">
              <form id="search-form" action="search.php" method="GET" accept-charset="utf-8" class="navbar-form">
                <input type="text" name="s" value='Search' onBlur="if(this.value=='') this.value='Search'"
                       onFocus="if(this.value =='Search' ) this.value=''">
                <a href="#" onClick="document.getElementById('search-form').submit()"></a>
              </form>
            </div>

            <div class="menu_wrapper">
              <div class="arr_left"></div>
              <div class="arr_right"></div>
                {% include "notebook/navbar.html" %}
            </div>

              {% block breadcrumbs %}
                <div class="breadcrumbs1">
                  <div class="breadcrumbs1_inner"><a href="index.html">Home Page</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;About
                    Us
                  </div>
                </div>
              {% endblock %}
            <div id="content">
              <div class="container">
                <div class="row">
                  <div class="span12">
                    <div id="content_inner">
                      <div class="row">
                        <div class="span12">
                              {% block content %}{% endblock %}
                              <div class="line1"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/static/notes/js/bootstrap.js"></script>
</body>
</html>
